.app-container {
  position: relative;
  display: flex;
  justify-content: center;

  padding: 2em;
}

.toolbar {
  display: flex;
  gap: 1em;
}

.overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100vw;

  display: flex;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal {
  height: fit-content;
  margin-top: 10%;
}

button {
  cursor: pointer;
}

.search-container {
  display: flex;
  gap: 1em;
}
